@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.2s ease, color 0.2s ease; 
}

html.dark {
  background-color: #18181b; 
  color: #e0e0e0;
}

html.light {
  background-color: #ffffff;
  color: #18181b;
}

/* Custom Tailwind for Dark and Light Mode */
@layer components {
  /* For dark mode */
  .dark\:text-white {
    color: #ffffff;
  }
  .dark\:border-white {
    border-color: #ffffff;
  }
  .dark\:gray {
    background-color: #18181b;
  }
  .dark\:tonal {
    background-color: #27235c;
  }
  .dark\:surface {
    background-color: #2d2d30;
  }
  .dark\:primary {
    color: #4747d3;
  }

  /* For light mode */
  .light\:text-black {
    color: #000000;
  }
  .light\:border-black {
    border-color: #000000;
  }
  .light\:bg-white {
    background-color: #ffffff;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #282828;
    --primary: #4747d3;
    --tonal: #27235c;
    --surface: #2d2d30; 
  }

  .dark {
    --background: #18181b;
    --foreground: #ffffff;
    --primary: #4747d3;
    --tonal: #27235c; 
    --surface: #2d2d30;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}